

<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>
	<link href="style.css" rel="stylesheet" type="text/css"/>
</head>
    <a id='mainBut' href="/" class="button">Main Page</a>
   
   <body> 
      <div> {{{album}}}</div>
   </body>
</html>