<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>
	<link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body onclick="getID(this.id)">
		
		<div id="images">
			
            <!-- <img id="bin" src="bin.png" /> -->
			
		</div>
        
		
		<div id="greyBack"></div>
		
		<script src="server.js"></script>
		
	</body>

   
</html>


<!-- var butMain = document.getElementById('mainBut')butMain.addEventListener('mouseover', function() {butMain.style.background='rgba(0,0,0,0.7)';})butMain.addEventListener('mouseleave', function() {butMain.style.background='rgba(0,0,0,0.5)';})> -->