<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
    <link href='style.css' rel='stylesheet' type='text/css' />
</head>

	<div id="menuDiv">
        <a id='menuHome' href='/' class='menuBut'>Main Page</a>
        <a id='menuGal' href="/gallery" class="menuBut">Gallery</a>
        <a id='menuFav' href="/favorite" class="menuBut">Favorite</a>
    </div>
  </body>

<div id='menuDiv'>
    <a id='menuHome' href='/' class='menuBut'>Main Page</a>
    <a id='menuGal' href='/gallery' class='menuBut'>Gallery</a>
    <a id='menuFav' href='/favorite' class='menuBut'>Favorite</a>
</div>

<div id="galDiv">
	{{{album}}}
</div>

</html>
<!-- var butMain = document.getElementById('mainBut')butMain.addEventListener('mouseover', function() {butMain.style.background='rgba(0,0,0,0.7)';})butMain.addEventListener('mouseleave', function() {butMain.style.background='rgba(0,0,0,0.5)';})> -->