/*search.hbs */
h1 {
    position: absolute;
    text-align: center;
    width: 600px;
    height: 150px;
    top: -200px;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 15px;
    font: 55px bold;
    color: white;
    text-shadow: -1.5px -1px 0 #000,
    1.5px -1px 0 #000,
    -1.5px 1px 0 #000,
    1.5px 1px 0 #000;
}
/*login box*/
#loginbox {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 400px;
    top: 70px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: 0.5s;
    text-align: center;
}
#createAcc {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 400px;
    top: 70px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: 0.5s;
    text-align: center;
    display: none;  
}
.createAccLinks {
    color: white;
    width: 25%;
    opacity: 0.9;
    letter-spacing: 3px;
    background-color: gray;
    padding: 7px 7px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    float: right;
    margin: 15px;
    top:330px;
    left:250px;
    position: absolute;
    text-transform: uppercase;
    font-family: sans-serif;
}
.createAccLinks:hover {
    background-color: rgba(0, 0, 100, 0.9);
}
.label {
    position: absolute;
    margin-left:15px;
    font-family: sans-serif;
    top:340px;
    left:100px;
    font-weight:lighter; 
    font-size: 12px;
    text-align: right;
}
#menuLog{
    float: right;
    cursor: pointer;
}
input:focus, textarea:focus, select:focus{
        outline: none;
}
.loginInput {
    width: 300px;
    height: 15px;
    left: 10px;
    border-radius: 10px;
    padding: 15px;
    margin: 30px 10px 0px 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.loginBut {
    background-color: lightgray;
    border: solid rgba(0, 0, 100, 1) 2px;
    border-radius: 10px;
    color: rgba(0, 0, 100, 1);
    padding: 14px 20px;
    margin: 28px 28px;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.5s;
}
.loginBut:hover {
    color: white;
    background-color: rgba(0, 0, 100, 1)
}
.header {
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 100, 0.8);
    width: 100%;
    height:10%;
    margin:auto;
    color: white;
    font-weight: lighter;
}
#backPage {
    display: none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}
.cancelBut {
    position: absolute;
    right:10px;
    font-size: 35px;
    font-weight: normal;
}
.cancelBut:hover,
.cancelBut:focus {
    color:blue;
    cursor:pointer;
}
#lab {
    left:140px;
}
/*search box*/
#form {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 304px;
    height: 100px;
}
#searchdiv {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 25px;
    border: 5px double white;
    width: 600px;
    height: 150px;
    margin: auto;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
}
#subBut {
    position: absolute;
    top: 50px;
    left: 100px;
    border-radius: 10px;
    padding: 5px;
}
#body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#searchText {
    width: 300px;
    font-size: 24px;
    padding-left: 10px;
    border-radius: 10px;
}
.button:hover {
    background: rgba(125, 125, 125, 0.8);
}
/*menu bar*/
#menuDiv {
    position: fixed;
    width:100vw;
    height: 38px;
    background-color: rgba(30, 30, 30, 0.8);
}
.menuBut {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    border: none;
    padding: 10px;
    float: left;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
}
.menuBut:hover{
    color: black;
    background-color: white ;
}
#usern {
    position: fixed;
    top:-10px;
    left:900px;
    float:right;
    color:white;
    font-weight: lighter;
}
/*results.hbs*/
#resultsBody {
    height: 100%;
    background-image: url('pa.jpg');
    background-attachment: fixed;
    overflow: scroll;
}
}
#formSave {
    position: absolute;
    width: 250px;
    top: 70px;
    float: right;
}
#formDiv {
    position: absolute;
    left:0;
    right:0;
}
#divv {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    right: 0;
    top: 50;
    bottom: 0;
    overflow-y: scroll;
    border-top: 3px double white;
}
#save {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    border: 2.5px solid white;
    padding: 3px;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    left: 230px;
}
#title {
    font-size: 18px;
}
#mainBut {
    text-decoration: none;
    font-family: sans-serif;
    position: fixed;
}
#favorite {
    float: left;
}
img {
    position: relative, fixed;
    width: 12%;
    height: 35%;
    display: inline-block;
    padding: 15px;
}
/*gallery*/

#greyBack {
    /*background-attachment: fixed;*/
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
}
/*class for button*/
.button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    border: 2.5px solid white;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*term1 stuff*/
#images {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    margin: auto;

}

.thumbnails {
    position: relative;
    width: 50px;
    height: 75px;
    padding: 5px;
    margin: 20px;
    background-color: grey;
    display: inline-block;
    transition: all 0.5s;
    z-index: 0;

}

.boxes {
    position: relative;
    width: 50px;
    height: 75px;
    padding: 5px;
    margin: 20px;
    background-color: grey;
    display: inline-block;
    transition: all 0.5s;
    z-index: 0;
}
#bin {
    position:fixed;
    width:50px;
    height:50px;
    left:0px;
    right:-290px;
    top:-475px;
    bottom:0px;
    margin:auto;
    z-index: 1;
    display:none;
}

#backgrounds {
    position:absolute;
    top:400px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    width:550px;
    height:180px;
    text-align:center;
    background-color:rgba(50, 50, 50, 0.5);
    border:5px double white;
}

#backgroundMenu {
    color:white;
    letter-spacing:5px;
    text-transform:uppercase;
    border:none;
    font: 25px bold;
    top:-5px;
    text-shadow: -1.5px -1px 0 #000,
    1.5px -1px 0 #000,
    -1.5px 1px 0 #000,
    1.5px 1px 0 #000;
}

.BackgroundOptions {
    position:relative;
    width:25%;
    height:25%;
    display:inline-block;
    top:-30px;
}